.header {
    position: fixed;
    top: 0;
    display: flex;
    gap: var(--space-m);
    padding-top: var(--space-m);
    padding-left: var(--space-m);
    background-color: var(--background);
    width: 100%;
    z-index: 3;
}