.aboutMeDscription {
    display: flex;
    flex-direction: column;
    gap: 20px;
    margin: 16px;
}

.aboutMeName {
    font-weight: bold;
    color: var(--color-primary);
}

.iconAndTitle {
    display: flex;
    flex-direction: row;
    gap: 16px;
    align-items: center;
}

.icon {
    width: 36px;
    height: 36px;
    color: var(--color-true-black);
    stroke-width: 2.5;
    padding: 4px;
    transform: translateY(2px);
    background-color: var(--color-primary);
}

.topicTitle {
    font-size: 48px;
    font-weight: bold;
}

.supplement {
    font-size: xx-small;
    opacity: 50%;
}

.soumenSource {
    border-bottom: 1px solid;
    border-color: var(--color-primary);
    color: var(--color-primary);
}