.suggestBoxNomal, .suggestBox60, .suggestBoxMinus60{
    position: fixed;
    bottom: 0;
    right: 0;
    margin: 22;
    margin-right: 30;
    width: 32px;
    height: 53px;
    /* aspect-ratio: 1 / 1; */
    border-top: 3px solid;
    border-bottom: 3px solid;
    border-color: var(--color-primary);
    color: var(--color-primary);
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--color-primary);
    
}

.suggestBoxIcon {
    width: 36px;
    height: 36px;
    color: var(--color-true-black);
    stroke-width: 1.5;
    transform: translate(-2px, 2px)
    /* padding: 4px; */
}

.suggestBox60{
    transform:rotate(60deg);
}
.suggestBoxMinus60{
    transform:rotate(-60deg);
}