.suggestBoxNomal, .suggestBox60, .suggestBoxMinus60{
    position: fixed;
    bottom: 0;
    right: 0;
    margin: 22;
    margin-right: 30;
    width: 18px;
    height: 32px;
    aspect-ratio: 1 / 1;
    border-top: 1px solid;
    border-bottom: 1px solid;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--background);
    
}

.suggestBox60{
    transform:rotate(60deg);
}
.suggestBoxMinus60{
    transform:rotate(-60deg);
}