@import "tailwindcss";

:root {
  --background: #131211;
  --foreground: #eeedec;
  --color-primary: #e77913;

  --color-true-black: #000000;
  --color-true-white: #ffffff;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

/* @media (prefers-color-scheme: dark) {
  :root {
    --background: #111111;
    --foreground: #e77913;
  }
} */

body {
  background: var(--background);
  color: var(--foreground);
  font-family: system-ui;
  font-weight: 10;
  overflow-x: hidden;
}

::-webkit-scrollbar {
  display: none;
}


