

.thumbnailTitle {
    font-family: "Noto Serif JP";
    font-weight: 900;
    margin-top: 60;
    margin-bottom: 60;
}

.worksArranger {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.worksArranger > .workImageFlame {
    width: 46vw;
    margin-right: 1vw;
    margin-bottom: 1vw;
}

.workDetailCard {
    margin: 4px;
    padding: 4px;
    border: 1px solid;
    border-color: var(--foreground);
    background-color: var(--background);
}

.workCloseButton {
    display: flex;
    flex-direction: row-reverse;
    margin-right: 8px;
    
}

.workDescription {
    margin-top: 8px;
    margin-bottom: 8px;
}

.workImages {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: color-mix(in srgb, var(--background), transparent 30%);
    display: flex;
    flex-direction: column;
    gap: 4;
    justify-content: center;
}

.workImageFlame {
    padding: 2px;
    background-color: color-mix(in srgb, var(--foreground), transparent 70%);
}

.workChanger {
    display: flex;
    flex-direction: row;
    justify-content: end;
    gap: 8;
    margin-right: 8px;
}

.soumenSource {
    border-bottom: 1px solid;
}

.supplement {
    font-size: xx-small;
    opacity: 50%;
}

.target {
    scroll-margin-top: 10vh;
}
