

.thumbnailTitle {
    font-family: "Noto Serif JP";
    font-size: 16vw;
    font-weight: 900;
    margin-top: 60;
}

@media (hover: hover) {
    .thumbnailTitle {
        font-family: "Noto Serif JP";
        font-size: 8vw;
        font-weight: 900;
        margin-top: 60;
    }
}

.worksArranger {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.worksArrangerUnder {
    width: 46vw;
    margin-right: 1vw;
    margin-bottom: 1vw;
    padding: 2px;
    background-color: color-mix(in srgb, var(--foreground), transparent 70%);
}

@media (hover: hover) {
    .worksArrangerUnder {
        width: 20vw;
        margin-right: 1vw;
        margin-bottom: 1vw;
        padding: 2px;
        background-color: color-mix(in srgb, var(--foreground), transparent 70%);
    }
}

.workDetailCard {
    margin: 4px;
    padding: 4px;
    border: 1px solid;
    border-color: var(--foreground);
    background-color: var(--background);
}

.workCloseButton {
    display: flex;
    flex-direction: row-reverse;
    align-items: end;
    width: 80vw;
    margin-right: 8px;
    
}

.workName {
    font-weight: bold;
}

.workDescription {
    margin-top: 8px;
    margin-bottom: 8px;
}

.workMordal {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: color-mix(in srgb, var(--background), transparent 30%);
    display: flex;
    flex-direction: column;
    gap: 4;
    justify-items: center;
    align-items: center;
}

.workMordalContent {
    display: flex;
    flex-direction: column;
    height: 80vh;
    width: 80vw;
    justify-content: center;
    align-items: center;

}

@media (hover: hover) {
    .workMordalContent {
    display: flex;
    flex-direction: column;
    height: 80vh;
    width: 50vw;
    margin-top: 2vh;
    justify-content: start;
    align-items: center;

    }
}

.workImageFlame {
    position: relative;
    width: 80vw;
    aspect-ratio: 85 / 60;
    padding: 2px;
    background-color: color-mix(in srgb, var(--foreground), transparent 70%);
}

@media (hover: hover) {
    .workImageFlame {
        position: relative;
        height: 80vh;
        aspect-ratio: 85 / 60;
        padding: 2px;
        background-color: color-mix(in srgb, var(--foreground), transparent 70%);
    }
}

.workChanger {
    display: flex;
    flex-direction: row;
    justify-content: end;
    gap: 8;
    margin-right: 8px;
}

.soumenSource {
    border-bottom: 1px solid;
}

.supplement {
    font-size: xx-small;
    opacity: 50%;
}

.skillsKind {
    display: flex;
    flex-direction: column;
    gap: 16px;
    margin-left: 16px;
}

.skillsChartLanguage {
    display: flex;
    flex-direction: row;
    margin: 8px;
    gap: 8px;
    align-items: end;
}

.skillsChartBarContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.skillsChartBar {
    width: 16px;
    background-color: var(--foreground);
    display: flex;
    flex-direction: column;
}

.profillYearTitle {
    display: flex;
    flex-direction: row;
    gap: 16px;
    font-size: x-large;
}

.profillYear {
    font-weight: bold;
}

.backgroundUpL {
    position: fixed;
    top: 10vh;
    left: 10vw;
    opacity: 30%;
}

.backgroundUpR {
    position: fixed;
    top: 10vh;
    right: 10vw;
    opacity: 30%;
}

.backgroundUnL {
    position: fixed;
    bottom: 10vh;
    left: 10vw;
    opacity: 30%;
}

.backgroundUnR {
    position: fixed;
    bottom: 10vh;
    right: 10vw;
    opacity: 30%;
}

.background {
    position: relative;
}

.backgroundName {
    position: absolute;
    top: 0;
    left: 0;
    font-size: 200;
    transform-origin: left top;
    transform: rotate(90deg);
    /* translate: translateX(-150%); */
}

.main {
    display: flex;
    flex-direction: column;
    gap: 200px;
    margin-top: 40px;
}

.target {
    scroll-margin-top: 10vh;
}

.topic {
    height: auto;
    width: 100vw;
}

@media (hover: hover) {
    .topic {
        height: auto;
        width: 60vw;
    }
}


