

.thumbnailTitle {
    font-family: "Noto Serif JP";
    font-weight: 900;
    margin-top: 60;
    margin-bottom: 60;
}

.workImages {
    display: flex;
    flex-direction: column;
    gap: 4;
}

.imageFlame {
    padding: 2;
    background-color: color-mix(in srgb, var(--foreground), transparent 70%);
}

.workChanger {
    display: flex;
    flex-direction: row;
    justify-content: end;
    gap: 8;
}

.target {
    scroll-margin-top: 10vh;
}

.soumenSource {
    border-bottom: 1px solid;
}

.supplement {
    font-size: xx-small;
    opacity: 50%;
}
