.profileHistory {
    display: flex;
    flex-direction: column;
    gap: var(--space-m);
    margin: var(--space-m);
}

.profileYearTitle {
    display: grid;
    grid-template-columns: 70px 4fr;
    font-size: var(--h2);
}

.profileYear {
    grid-row: 1;

}

.profileContent {
    display: flex;
    flex-direction: column;
    grid-column: 2;
}

.profileTitle {
    font-weight: bold;
    color: var(--color-primary);
}

.profileDescription {
    font-size: var(--h3);
}

.iconAndTitle {
    display: flex;
    flex-direction: row;
    gap: 16px;
    align-items: center;
}

.icon {
    width: 36px;
    height: 36px;
    color: var(--color-true-black);
    stroke-width: 2.5;
    padding: 4px;
    transform: translateY(2px);
    background-color: var(--color-primary);
}

.topicTitle {
    font-size: 48px;
    font-weight: bold;
}