.skillsKind {
    display: flex;
    flex-direction: column;
    gap: var(--space-m);
    margin: var(--space-m);
}

.skillsChartLanguage {
    display: grid;
    grid-template-rows: repeat(auto-fit, 1fr);
    margin-top: var(--space-m);
    gap: var(--space-s);
    align-items: end;
}

.skillsChartBarContainer {
    display: grid;
    grid-template-columns: 88px 1fr;
    gap: var(--space-s);
}

.skillsCategory {
    display: flex;
    flex-direction: column;
    gap: var(--space-m);
}

.chartContainer {
    display: grid;
    grid-template-rows: 1fr auto;
}

.chartUnit {
    display: flex;
    flex-direction: column;
    justify-self: end;
    font-size: var(--h3);
}

.skillsCategoryName {
    font-size: var(--h2);
    /* font-weight: bold; */
    /* color: var(--color-primary); */
}

.skillsCategoryContent {
    margin: var(--space-m);;
}

.chartLabel {
    font-weight: bold;
    color: var(--color-primary);
}

.skillsChartBar {
    width: 1px;
    background-color: var(--color-primary);
    display: flex;
    flex-direction: row;
    justify-content: end;
    align-items: center;
    padding-right: 4px;
    font-size: var(--h3);
    font-weight: bold;
}

.iconAndTitle {
    display: flex;
    flex-direction: row;
    gap: 16px;
    align-items: center;
}

.icon {
    width: 36px;
    height: 36px;
    color: var(--color-true-black);
    stroke-width: 2.5;
    padding: 4px;
    transform: translateY(2px);
    background-color: var(--color-primary);
}

.topicTitle {
    font-size: 48px;
    font-weight: bold;
}